@model ItemVM

@{
    var claimsIdentity = (ClaimsIdentity)User.Identity;
    var userId = claimsIdentity?.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<a asp-controller="Collection" asp-action="Index" asp-route-collectionId="@Model.Item.CollectionId" class="btn btn-outline-primary form-control" style="width:200px">
    <i class="bi bi-arrow-return-left"></i> Back to Collection
</a>

<form method="post" class="row">
    <input asp-for="Item.Id" hidden />
    <div class="col-12 p-3">
        @if (Model.UserId == userId || User.IsInRole(SD.Role_Admin))
        {
            <a asp-action="Edit" asp-route-itemId="@Model.Item.Id" class="btn btn-primary" style="width:150px">
                <i class="bi bi-pencil-square"></i> Edit Item
            </a>
            <a onclick="DeleteItem('@Url.Action("Delete", new { ItemId = @Model.Item.Id })', @Model.Item.CollectionId)"
                class="btn btn-danger" style="width:150px">
                <i class="bi bi-trash3"></i> Delete Item
            </a>
        }
        <hr/>
        <div class="col-12 col-lg-6 form-outline mb-3">
            <label asp-for="Item.Name" class="ms-2 text-muted"></label>
            <input asp-for="Item.Name" class="form-control" disabled/>
        </div>
        <label class="ms-2 text-muted">Tags</label>
        <div class="d-flex flex-wrap">
            @if (Model.Item.ItemTags.Count > 0)
            {
                @foreach (var itemTag in Model.Item.ItemTags)
                {
                    <div class="col-4 col-lg-3 col-xl-2 form-outline mb-3 pe-2">
                        <input asp-for="@itemTag.Tag.Name" class="form-control" disabled/>
                    </div>
                }
            }
            else
            {
                <input class="form-control" disabled
                       value="There're no tags related to the item! You can add them in edit page." />
            }
        </div>
        <hr/>
        @if (Model.CustomFields.Count > 0)
        {
            @foreach (var field in Model.CustomFields)
            {
                <div class="row">
                    <div class="col-12 col-lg-8 form-outline mb-3">
                        <label class="ms-2 text-muted">@field.Key</label>
                        <input asp-for="@field.Value[0]" type="@field.Value[1]" class="form-control dynamic-input me-2" placeholder="Field Value" disabled/>
                        <textarea asp-for="@field.Value[0]" class="form-control" disabled></textarea>
                    </div>
                    <div class="col-12 col-lg-4 form-outline mb-3">
                        <label class="ms-2 text-muted">Type</label>
                        <select asp-for="@field.Value[1]" asp-items="@Model.TypesList" class="form-select dynamic-select" disabled>
                            <option disabled selected>--Select theme--</option>
                        </select>
                    </div>
                </div>
            }
        }
        else
        {
            <h4 class="text-center">There're no custom field!</h4>
            <p class="text-center">You can add them in edit page.</p>
        }
    </div>
</form>

<hr />

<form method="post" class="m-5">
    <input asp-for="Item.Id" hidden />
    <input asp-for="UserId" hidden />
    <div class="d-flex align-items-center">
        <h4 class="me-2">@Model.LikesCount</h4>
        @if (Model.IsLiked)
        {
            <button asp-action="RemoveLike" type="submit" class="btn btn-outline-danger form-control" style="width:80px">
                <i class="bi bi-hand-thumbs-up-fill"></i> Like
            </button>
        }
        else
        {
            <button asp-action="AddLike" type="submit" class="btn btn-outline-primary form-control" style="width:80px">
                <i class="bi bi-hand-thumbs-up"></i> Like
            </button>
        }
    </div>
</form>

<hr />

<form asp-action="AddComment" method="post" class="row">
    <input asp-for="Item.Id" hidden />
    <input asp-for="UserId" hidden />
    <div class="col-12 p-3">
        <div class="col-12 col-lg-6 form-outline mb-3">
            <label class="ms-2 text-muted">Comment</label>
            <input asp-for="CommentText" class="form-control" />
            <span asp-validation-for="CommentText" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary form-control" style="width:200px">
            <i class="bi bi-send"></i> Send Comment
        </button>
    </div>
</form>

<hr />
<h2 class="mb-4">Comments</h2>
<div class="col-12 p-3">
    @foreach (var comment in Model.Comments)
    {
        <div class="col-12 col-lg-6 form-outline mb-3">
            <label class="ms-2 text-muted">@comment.ApplicationUser.Name</label>
            <input asp-for="@comment.Text" class="form-control" disabled />
        </div>
        <hr />
    }
</div>

@section Scripts
{
    <script>
        function setInputType(element) {
            var selectedType = element.val();
            var inputField = element.closest('.row').find('.dynamic-input');
            var textareaField = element.closest('.row').find('textarea');

            if (selectedType == 'textarea') {
                textareaField.show();
                inputField.hide();
                return;
            }
            else if (selectedType === 'checkbox') {
                inputField.removeClass('form-control').addClass('form-check-input');
            } else {
                inputField.removeClass('form-check-input').addClass('form-control');
            }

            inputField.attr('type', selectedType);
            textareaField.hide();
            inputField.show();
        }

        $('.dynamic-select').each(function () {
            setInputType($(this));
        });

        $('.dynamic-select').change(function () {
            setInputType($(this));
        });
    </script>
    <script>
        function DeleteItem(url, collectionId) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (data) {
                            window.location.href = '/User/Collection/Index?collectionId=' + collectionId;
                            toastr.success('The item has been successfully deleted!');
                        }
                    })
                }
            });
        }
    </script>
}