@model HomeVM

<div class="text-center">
    <h2 class="mb-4">Last Added Items</h2>
    <table id="tblItems" class="table table-bordered table-striped table-hover" style="width:100%">
        <thead>
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Tags</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Items)
        {
            <tr onclick="location.href = '@Url.Action("Index", "Item", new { ItemId = item.Id })'">
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @($"{string.Join(", ", item.ItemTags.Take(3).Select(u => u.Tag.Name))}...")
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<hr/>

<div class="text-center">
    <h2 class="mb-4">Top 5 of The Biggest Collections</h2>
    <table id="tblCollections" class="table table-bordered table-striped table-hover" style="width:100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Name</th>
                <th>Description</th>
                <th>Theme</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var collection in Model.Collections)
            {
                <tr onclick="location.href = '@Url.Action("Index", "Collection", new { CollectionId = collection.Id })'">
                    <td>
                        @collection.Id
                    </td>
                    <td>
                        @collection.Name
                    </td>
                    <td>
                        @Html.Raw(@collection.Description)
                    </td>
                    <td>
                        @collection.Theme.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<hr/>

<div class="text-center">
    <h2 class="mb-4">The Tag List</h2>
    <table id="tblTags" class="table table-bordered table-striped table-hover" style="width:100%">
        <thead>
        <tr>
            <th>№</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tag in Model.Tags)
        {
            <tr @* onclick="location.href = '@Url.Action("Index", "Collection", new { CollectionId = collection.Id })'" *@>
                <td>
                    @tag.Id
                </td>
                <td>
                    @tag.Name
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts
{

}
