@model CollectionVM

@{
    var claimsIdentity = (ClaimsIdentity)User.Identity;
    var userId = claimsIdentity?.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<form method="post" class="row">
    <input asp-for="Collection.Id" hidden />
    <div class="col-12 p-3">
        @if (Model.Collection.ApplicationUserId == userId || User.IsInRole(SD.Role_Admin))
        {
            <div class="col-12 col-lg-6 form-outline mb-3">
                <label asp-for="Collection.Name" class="ms-2 text-muted"></label>
                <input asp-for="Collection.Name" class="form-control" />
                <span asp-validation-for="Collection.Name" class="text-danger"></span>
            </div>
            <div class="col-12 col-lg-8 form-outline mb-3">
                <label asp-for="Collection.Description" class="ms-2 text-muted"></label>
                <textarea asp-for="Collection.Description" class="form-control"></textarea>
            </div>
            <div class="col-12 col-lg-6 form-outline mb-3">
                <label asp-for="Collection.ThemeId" class="ms-2 text-muted">Theme</label>
                <select asp-for="Collection.ThemeId" asp-items="@Model.ThemesList" class="form-select">
                    <option disabled selected>--Select theme--</option>
                </select>
                <span asp-validation-for="Collection.ThemeId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary form-control" style="width:150px">
                <i class="bi bi-floppy"></i> Save
            </button>
            <a onclick="DeleteCollection('@Url.Action("Delete", new { CollectionId = Model.Collection.Id })')" class="btn btn-danger" style="width:150px">
                <i class="bi bi-trash3"></i> Delete
            </a>
        }
        else
        {
            <div class="col-12 col-lg-6 form-outline mb-3">
                <label asp-for="Collection.Name" class="ms-2 text-muted"></label>
                <input asp-for="Collection.Name" class="form-control" disabled />
            </div>
            <div class="col-12 col-lg-8 form-outline mb-3">
                <label asp-for="Collection.Description" class="ms-2 text-muted"></label>
                <textarea asp-for="Collection.Description" class="form-control" readonly></textarea>
            </div>
            <div class="col-12 col-lg-6 form-outline mb-3">
                <label asp-for="Collection.ThemeId" class="ms-2 text-muted">Theme</label>
                <select asp-for="Collection.ThemeId" asp-items="@Model.ThemesList" class="form-select" disabled>
                    <option disabled selected>--Select theme--</option>
                </select>
            </div>
        }
    </div>
</form>

<div class="text-end">
    <a asp-action="ExportToCsv" asp-route-collectionId="@Model.Collection.Id" class="btn btn-outline-primary">
        Export to CSV
    </a>
</div>

<hr/>

@if (Model.Collection.ApplicationUserId == userId || User.IsInRole(SD.Role_Admin))
{
    <div class="text-end mb-2">
        <a asp-controller="Item" asp-action="AddItem" asp-route-collectionId="@Model.Collection.Id"
            class="btn btn-primary" style="width:150px">
            <i class="bi bi-plus-circle"></i> Add Item
        </a>
    </div>
}

<div class="text-center">
    <table id="tblCollection" class="table table-bordered table-striped table-hover" style="width:100%">
        <thead>
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Tags</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Collection.Items)
        {
            <tr onclick="location.href = '@Url.Action("Index", "Item", new { itemId = item.Id })'">
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @($"{string.Join(", ", item.ItemTags.Take(3).Select(u => u.Tag.Name))}...")
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker markdown',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#tblCollection').DataTable();
        });
    </script>
    <script>
        function DeleteCollection(url) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (data) {
                            window.location.href = '/User/Home/Index';
                            toastr.success('The collection has been successfully deleted!');
                        }
                    })
                }
            });
        }
    </script>
    <partial name="_ValidationScriptsPartial"/>
}